.drawBoard {
    height: 390px;
    width: 390px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.drawDiv {
    background-color: salmon;
    box-sizing: border-box;
    
    
    
}